.root{
    -fx-background-image:url("../img/Client_Banner.jpg");
    -fx-background-size:cover;
}

.styled-button {
    -fx-font-size: 16pt;
    -fx-background-color: #DB7093;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-color: #DB7093;
    -fx-border-width: 2px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.styled-button:hover {
    -fx-background-color: #3c3c3c;
}

.styled-button:pressed {
    -fx-background-color: #2c2c2c;
}

.styled-button:default {
    -fx-font-weight: bold;
}

.root1{
    -fx-background-color:#FAEBD7;
}


.styled-button1{
    -fx-font-size: 16pt;
    -fx-background-color: #FAEBD7;
    -fx-text-fill: black;
    -fx-padding: 10px;
    -fx-border-color: #FAEBD7;
    -fx-border-width: 2px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.styled-button1:hover {
    -fx-background-color: #3c3c3c;
}

.styled-button1:pressed {
    -fx-background-color: #2c2c2c;
}

.styled-button1:default {
    -fx-font-weight: bold;
}

